table.sorting tr:not(.home) {
	cursor: pointer;
}

.ui-state-highlight {
	border: 1px dashed #ccc;
}

div.new-category {
	margin-top: 30px;
	position:relative;
}
span.ajax-text {
	display: none;
}
table.sorting.categories td{
	padding :20px !important;
}
.ajaxdivtd {
	position:absolute;
}
span.ajaxmsg {
    background:green;
    color: white;
    padding: 10px;
    display: none;
    position:absolute;
    bottom: 0;
}
span.loader{
    display: none;
}
.ajax-cart{
    position:relative;
    top:5px;
}
.inlineb{
    display:inline-block !important;
}
ul.adminarea{
    position:relative;
    top:15px;
}
.ajaxBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    z-index: 1;
}
.ajaxBg span {
    position: absolute;
    top: 30%;
    left: 50%;
}
form.paypalForm{
    position:absolute;
    left: -3000px;
}