table.sorting tr:not(.home) {
	cursor: pointer;
}

.ui-state-highlight {
	border: 1px dashed #ccc;
}

div.new-category {
	margin-top: 30px;
	position:relative;
}
span.ajax-text {
	display: none;
}
table.sorting.categories td{
	padding :20px !important;
}
.ajaxdivtd {
	position:absolute;
}
span.ajaxmsg {
    background:green;
    color: white;
    padding: 10px;
    display: none;
    position:absolute;
    bottom: 0;
}
span.loader{
    display: none;
}
.ajax-cart{
    position:relative;
    top:5px;
}